*{
    box-sizing: border-box;
}

body{
    background-color: black;
    overflow: hidden;;
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.calc-container{
    background-color: rgb(58, 87, 59);
    height:85vh;
    width:28%;
    min-width:20em;
    border-radius: 4%;
   
    
}
.display{
    height: 25%;
    background-color: rgb(169, 162, 152);
   
    border-radius: 4% 4% 0% 0%;
    margin:1em;
    display: flex;
    align-items: end;
}
.result{
    text-align: end;
    padding:0.4em;
    font-size:1.4em
    
}

.values-container{
    width:100%
}

.operators{
    display: grid;
    height: 75%;
     padding-left: 0.6em;
    grid-template-columns: repeat(4,24%);
    grid-template-rows: repeat(5,17%);
     gap: 2px;
 
}

.operator{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size:1.6em;  
    font-family:  sans-serif;
    color:white;
    background-color: rgb(4, 58, 4);
   
   
} 
 .operator:hover{
    cursor: pointer;
    opacity: 0.6;
 }
 .operator:active{
    transform: scale(0.9);
 }

 .g18 {
    grid-column:3/5;
    grid-row:5/6;
   
}

.g18 p{
    background-color: orange;
    padding-inline:0.5em;
    border-radius: 50%;
}
